body {
  margin: 0;
  padding: 0;
  background-color: #3c0707;
  font-family: 'Roboto', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

.ellipse {
  display: flex;
  position: absolute;
  width: 514px;
  height: 514px;
  flex-shrink: 0;
  border-radius: 514px;
  background: #d9d9d9;
  filter: blur(350.3999938964844px);
}

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  flex: 1;
  margin-bottom: 80px;
}

.links {
  display: flex;
  border: 2px solid white;
  border-radius: 90px;
}

.text {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  gap: 30px;
  padding: 0 30px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  color: white;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  margin-bottom: 140px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 12px;
}

.heading-text {
  color: #f9faf8;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
}

.sub-text {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
}

.sign-up {
  display: flex;
  background-color: #ec3336;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 35px;
  border-radius: 15px;
  border: 2px solid white;
}

.image {
  width: 450px;
  height: 233.33px;
  border: 2px solid white;
  border-radius: 15px;
}

.content {
  background-color: white;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.content .title {
  color: #ec3336;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 60px;
}

.shape-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 80px;
}

.shapee {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 180px;
  text-align: center;
  color: #1f2937;
  font-weight: 100;
  font-size: 18px;
  gap: 8px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.square {
  height: 160px;
  width: 160px;
  border: 4px solid #ec3336;
  border-radius: 16px;
  flex-direction: row;
}

.quote {
  display: flex;
  color: black;
}

.quote-content {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 27%;
  gap: 20px;
}

.quote {
  margin-top: 120px;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.auteur {
  display: flex;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 120px;
}

.thor {
  display: flex;
  padding: 0 20%;
}

.cta {
  display: flex;
  background-color: white;
  justify-content: center;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ec3336;
  margin-top: 80px;
  padding: 40px 100px;
  border-radius: 10px;
  color: white;
  flex-shrink: 0;
  gap: 260px;
  margin-bottom: 80px;
}

.cta .title {
  font-size: 18px;
  font-weight: 900;
}

.cta .subtitle {
  font-size: 14px;
  font-weight: 100;
}

.signup {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 35px;
  border-radius: 10px;
  outline: 2px solid white;
  background-color: #ec3336;
  color: white;
  border: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  font-size: 20px;
  font-weight: 100;
  color: #e5e7eb;
}

.test {
  display: flex;
  flex-direction: row;
}
